:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}
body {
  font-family: 'DM Sans';
  font-size: 18px;
  line-height: 1.5;
  color: var(--black);
  background-color:rgb(239, 238, 234);
  /* width: 100%;
  align-items: center;
  justify-content: center; */
    /* display: flex;
    flex-direction: column; */

}
p{font-size: 18px;
font-weight: 500;}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
     gap:1rem; 
    padding: 10vh; 
    margin: 0 auto;  
     /* width: 100vh;
     height: 100vh;  */
    align-self: center;
    /* max-width: 1200px; */
     /* max-height: fit-content; */
}
 .create-grid{
    /* display: grid; */
/* direction: column;
justify-content: center;
align-items: center;
ali  */
    grid-column: 1;
    grid-row: 1 /span 2;
    background-color: var(--yellow-100);
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 0%;
    /* max-width: 150px;
    max-height: 250px;*/
    /* align-items: center;  */
}
.create-grid img{
    width: 100%;
    height: auto;
    border-radius: 10px;

}
.social-grid{
    grid-column:2/span 2;
    grid-row: 1 ;
    background-color: var(--purple-500);
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 0px;
    /* max-width: 370px;
    max-height: 200px;
    align-items: center;
    align-items: center; */
}
/* .social-grid img{
    width: auto;
    height: 50px;
    border-radius: 10px;
} */
.schedule-grid{
    grid-column: 4 ;
    grid-row: 1/span 2;
    background-color: var(--purple-100);
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 0%;
    /* margin-bottom: auto; */
    /* max-width: 300px;
    max-height: 400px;
    align-items: center; */

}
.schedule-grid img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.write-grid{
    grid-column: 1;
    grid-row: 3;
    background-color: var(--yellow-500);
    padding: 10px;
    border-radius: 10px;
    /* max-width: 150px;
    max-height: 300px;
    align-items: center; */
}
.write-grid img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.manage-grid{
    grid-column: 2;
    grid-row: 2.5;
    background-color: var(--white);
    padding: 10px;
    margin-left: none;
    border-radius: 10px;
    /* max-width: 150px;
    max-height: 150px;
    align-items: center; */
}
.manage-grid img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.maintain-grid{
    grid-column: 3;
    grid-row: 2;
    background-color: var(--yellow-500);
    padding: 12px;
    margin-left: 20px;
    border-radius: 10px;
    /* max-width: 150px;
    max-height: 150px;
    align-items: center; */

}
.maintain-grid img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.audience-grid{
    grid-column: 2;
    grid-row: 3;
    background-color: var(--white);
    padding: 12px;
    margin-left: 20px;
    border-radius: 10px;
    /* width: 150px;
    height: 150px;
    align-items: center; */
}
.audience-grid img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.followers-grid{
    grid-column: 3 /span 2;
    grid-row: 3;
    background-color: var(--purple-500);
    display: flex;
    padding: 12px;
    margin-left: 20px;
    border-radius: 10px;
    /* width: auto;
    height: 150px;
    align-items: center; */
}
.followers-grid img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        width: auto;
    }
    /* .grid img{
        width: auto;
        height: auto;
    } */
    .create-grid {
        grid-column: 1;
        grid-row: 7;
        width: 100%;
        max-width: 100%;
    }
    .social-grid {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        max-width: 100%;
    }
    .schedule-grid {
        grid-column: 1;
        grid-row: 4;
        width: 100%;
        max-width: 100%;
    }
    .write-grid {
        grid-column: 2;
        grid-row: 8;
        width: 100%;
        max-width: 100%;
    }
    .manage-grid {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        max-width: 100%;
    }
    .maintain-grid {
        grid-column: 1;
        grid-row: 3;    
        width: 100%;
        max-width: 100%;
    }
    .audience-grid {
        grid-column: 1;
        grid-row: 6;
        width: 100%;
        max-width: 100%;
    }
    .followers-grid {
        grid-column: 1;
        grid-row: 5;
        width: 100%;
        max-width: 100%;
    }
    
}

